# project service name
NAME := wakatime

# local database connection settings
TEST_PGDATABASE ?= test-wakatime

PGDATABASE ?= wakatime
PGHOST ?= localhost
PGPORT ?= 5432
PGUSER ?= postgres
PGPASSWORD ?= postgres

# add -race to GOFLAGS if RACE=1
RACE=0
